html
  head
    title Weather Application
    link(rel=`stylesheet` type=`text/css` href=`styles.css`)
    script(id=`locations` type=`application/json`)
      != locations
  body
    div#app
    script(src=`index.js`)
